<% provide(:title, @user.username) %>

<div class="jumbotron bg-transparent">
  <div class="container text-center">
    <h1 class="display-4">プロフィール</h1>
  </div>
  <div class="parent">
    <%= image_tag "man.jpeg", class: "img-fluid mr-3", alt: "man" %>
    <div class="inner">
      <h3><%= @user.username %></h3>
      <p><%= @user.email %></p>
      <p><%= @user.age %>歳</p>
      <p><%= @user.gender %></p>
      <p><%= link_to '編集', edit_user_registration_path, class: "nav-item nav-link" if @user == current_user %></p>
    </div>
  </div>
</div>
