<%= form_for post do |f| %>
  <div class="form-group">
    <%= f.label :title, '投稿タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :budget, '予算' %>
    <%= f.text_field :budget, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :post, :タグ %>
    <%= f.text_field :tag_list, value: post.tag_list.join(','), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, '投稿内容' %>
    <%= f.text_area :body, class: 'form-control', rows:10 %>
  </div>
  <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
<% end %>

<%= render 'shared/notice' %>
