<div class="card-header text-white bg-dark">
  <h4><%= post.title %></h4>
  <p>ユーザー名：<%= post.user.username %></p>
  予算：<%= number_with_delimiter(post.budget) %>円
  タグ：
  <% if post.tags.present? %>
    <% post.tags.each do |tag| %>
      <span class="badge badge-pill badge-warning"><%= tag.name %></span>
    <% end %>
  <% end %>
</div>
<div class="card-body">
    <p class="card-text"><%= simple_format(post.body) %></p>
</div>
