<% provide(:title, @post.title) %>

<div class="text-center align-items-center mt-4 mb-4">
  <div class="ml-auto posts_button">
    <%= link_to '投稿一覧', posts_path, class: "btn btn-outline-info", role: "button" %>
    <%= link_to '編集', edit_post_path, class: "btn btn-outline-info", role: "button" if user_signed_in? && current_user %>
    <%= link_to "削除" , post_path, class: 'btn btn-outline-info',
      method: :delete, data: {confirm: "削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認" } if user_signed_in? && current_user %>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @post.title %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @post.body %></p>
  </div>
  <div class="card-footer">
    <p class="text-right font-weight-bold mr-10"><%= @post.name %></p>
  </div>
</div>
