<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <%= link_to 'be better off', root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'サービス概要', home_show_path, class: "nav-item nav-link" %>
      <%= link_to '投稿一覧', posts_path, class: "nav-item nav-link" %>
      <%= link_to 'メンバー登録(無料)', new_user_registration_path, class: "nav-item nav-link" %>
      <%= link_to 'ログイン', new_user_session_path, class: "nav-item nav-link" %>
      <% if user_signed_in? %>
        <%= link_to '投稿', new_post_path, class: "nav-item nav-link" %>
      <% end %>
      <%= link_to '管理者ログイン', new_user_session_path, class: "nav-item nav-link" %>
    </div>
  </div>
</nav>
