<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to 'Be Better Off', root_path, class: "navbar-brand" %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "サービス概要", root_path(anchor: "service"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '投稿一覧', posts_path, class: "nav-link" %>
      </li>

      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'メンバー登録(無料)', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to '投稿', new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'プロフィール', user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link", method: :delete %>
      <% end %>
    </ul>
  </div>
</nav>
