<nav class="navbar-expand-lg navbar navbar-dark bg-dark">
  <%= link_to 'be better off', root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "サービス概要", root_path(anchor: "service"), class: "nav-item nav-link" %>
      <%= link_to '投稿一覧', posts_path, class: "nav-item nav-link" %>
      <% unless user_signed_in? %>
        <%= link_to 'メンバー登録(無料)', new_user_registration_path, class: "nav-item nav-link" %>
        <%= link_to 'ログイン', new_user_session_path, class: "nav-item nav-link" %>
      <% end %>
      <% if current_user %>
        <%= link_to '投稿', new_post_path, class: "nav-item nav-link" %>
        <%= link_to 'プロフィール', user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-item nav-link", method: :delete %>
      <% end %>
    </div>
  </div>
</nav>
